* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding-top: 15px;
  padding-left: 15px;
  background-color:rgb(250, 221, 184);
  width: 960px;
  border: 10px, solid, black;
  background-image: url("/img/SalmonCookie.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  height: 960px;
  background-attachment:fixed;

}
h1 {
  Margin: 10px;
  padding: 10px;
  font-size: 36pt;
  font-family: 'Hanalei Fill', Arial, Helvetica, sans-serif;
  color:Black;
  background-color: firebrick;
  width:fit-content;
  position:relative;
}
h2 {
  color:rgb(172, 87, 23); 
  border-style:solid;
  border-width: 3px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  font-size: 28pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
  background-color: rgba(0, 150, 150, 0.472);
  color:black;
  font-size: 20pt;
  border-width: 1px;
  border-color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:inline;
}
table {
  Margin: 100px;
  font-size: 25pt;
  border-width: 5px;
  border-style: solid;
  object-position:unset;

}
thead {
  background-color:rgb(250, 221, 184);
  font-size: 25pt;
  border-width: 2px;
  border-style: solid;
  width:fit-content
}
tbody {
  font-size: 25pt;
  border-width: 2px;
  border-style: solid;
}
th {
  background-color:rgb(250, 221, 184);
  width:auto;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  font-size: 25pt;
  
}
tr { 
  background-color:rgb(250, 221, 184);
  background-color: rgba(42, 41, 16, 0.4);
  font-size: 25pt;
  border-width: 2px;
  border-style: solid;
}
td {
  background-color:rgb(250, 221, 184);
  border-width: 2px;
  border-style: solid; 
  padding: 4px;
  font-size: 25pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  border-width: 3px;
  border-style: solid;
  font-size: 22px;
  
}

* {
  box-sizing: border-box;
} 

header{
  background-color:gray;
  display:flex;
  justify-content: center;
}

header img {
  margin-bottom: 10px;
  margin-top: 10px;
  
}


header ul {
  display:flex;
}
li {
  display:flex;
  width: 10rem;
  justify-content:space-evenly;
}

nav {
  width: 960px;
  display:flex;
  align-items: center;
  
}

main {
  margin: 30px auto; sets marin on top and bottom to = 30px, and automatically adjusts left and right to center main element
  background-color: lightskyblue;
  width: 960px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  justify-content: space-between;

}
footer{
  background-color: lightsteelblue;
  height: 100px;
}
img {
  margin-bottom: 30px;
}
article {
  width: 450px;

}
article section {
  max-height:350px;
  overflow:auto;
}
button{
  margin-top: 20px;
}
button:hover{
  background-color: salmon;
}
